# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
krebstats-web-venv
dist
dist-ssr
*.local

# MP4 files in root (for local dev only)
/mp4s/

# Logo file in root (for local dev only)
/BAClub-Logo.png

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
