/* JetBrains Mono Font Family */

/* Regular */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Italic.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Light.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Medium.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-SemiBold.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-2.304/fonts/webfonts/JetBrainsMono-Bold.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
